Procesamiento_Distribuido_final/archivos/books_ratings_corregido.csv
/Procesamiento_Distribuido_final/archivos/books
/Procesamiento_Distribuido/archivos_marcos/bicis
Procesamiento_Distribuido_final/archivos/books_ratings.csv
Procesamiento_Distribuido/archivos_marcos/recorridos_realizados_2024_corregido.csv
Procesamiento_Distribuido/archivos_marcos/badata_ecobici_recorridos_realizados_2024.csv
